<center><h1>Proyecto final</h1></center>
<center><h3>IBM SkillsBuild Europa - Análisis de datos</h3></center>

# Requisitos



* Conocimientos de Python, Power BI o Tableau.
* Comprensión de la limpieza de datos.
* Comprensión de la visualización de datos.



#### Nivel de ejercicio: Intermedio



#### Duración: aproximadamente 3 horas

### Análisis de datos de Airbnb:



#### Objetivo:



En este ejercicio, practicarás el análisis de datos sobre un conjunto de datos abiertos procedentes de Airbnb. Algunas de las tareas incluyen:

- limpieza de datos,
- transformación de datos y
- visualización de datos.



#### Resumen sobre los datos de Airbnb:



Los criterios principales de la gente cuando visita lugares nuevos son contar con alojamiento y comida a precios razonables. Airbnb (Air-Bed-Breakfast) es un mercado en línea creado para satisfacer esta necesidad, pues permite a la gente alquilar sus casas durante plazos cortos. Estos servicios se ofrecen a un precio relativamente inferior al de los hoteles y en diversas ubicaciones geográficas. Además, personas de todo el mundo prefieren el servicio hogareño y económico.



#### Fuente de los datos



Puedes obtener el <i>dataset</i> para realizar este proyecto en el siguiente enlace: https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata



Este <i>dataset</i> contiene información sobre los alojamientos, tal como el barrio, el tipo de habitación, el precio, la disponibilidad, las opiniones, los gastos de servicio, la política de cancelación y las normas de uso de la casa.



¡Te deseamos lo mejor en tu análisis de los datos de Airbnb!

## Tarea 1: Carga de datos (Python)



1. Lee el fichero csv y cárgarlo en un <i>dataframe</i> de pandas.
2. Visualiza las cinco primeras filas de tu <i>dataframe</i>.
3. Visualize los tipos de datos de las columnas.

In [145]:
## Lee el fichero csv.
import pandas as pd
datos = pd.read_csv('Airbnb_Open_Data.csv')

C:\Users\mj_95\AppData\Local\Temp\ipykernel_4124\2702173002.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv('Airbnb_Open_Data.csv')

In [146]:
## Muestra las primeras 5 filas.
datos.head(5)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,41,-74,United States,...,$193,10,9,10/19/2021,0,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,41,-74,United States,...,$28,30,45,5/21/2022,0,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,41,-74,United States,...,$124,3,0,NaN,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,41,-74,United States,...,$74,30,270,7/5/2019,5,4,1,322,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,41,-74,United States,...,$41,10,9,11/19/2018,0,3,1,289,"Please no smoking in the house, porch or on th...",NaN

In [147]:
## Muestra los tipos de datos.
datos.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

## Tarea 2a: Limpieza de datos (cualquier herramienta)


1. Elimina las columnas no deseadas del <i>dataframe</i>, entre ellas se incluyen `host id`, `id`, `country` y `country code`.
2. Indica la razón por la cual se han eliminado estas columnas para tu análisis de datos.


Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla tomadas antes y después de eliminar las columnas.

In [148]:
#Eliminar columnas id, hostid, country, country code (se han eliminado estas columnas ya que solo contienen información que no es relevante)
datos.drop(['id','host id','country','country code'], axis='columns', inplace=True)
datos

,NAME,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,41,-74,False,strict,Private room,...,$193,10,9,10/19/2021,0,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,41,-74,False,moderate,Entire home/apt,...,$28,30,45,5/21/2022,0,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Elise,Manhattan,Harlem,41,-74,True,flexible,Private room,...,$124,3,0,NaN,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,NaN,unconfirmed,Garry,Brooklyn,Clinton Hill,41,-74,True,moderate,Entire home/apt,...,$74,30,270,7/5/2019,5,4,1,322,NaN,NaN
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,41,-74,False,moderate,Entire home/apt,...,$41,10,9,11/19/2018,0,3,1,289,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,verified,Krik,Brooklyn,Williamsburg,41,-74,False,flexible,Private room,...,$169,1,0,NaN,NaN,3,1,227,No Smoking No Parties or Events of any kind Pl...,NaN
102595,Best Location near Columbia U,unconfirmed,Mifan,Manhattan,Morningside Heights,41,-74,True,moderate,Private room,...,$167,1,1,7/6/2015,0,2,2,395,House rules: Guests agree to the following ter...,NaN
102596,"Comfy, bright room in Brooklyn",unconfirmed,Megan,Brooklyn,Park Slope,41,-74,True,moderate,Private room,...,$198,3,0,NaN,NaN,5,1,342,NaN,NaN
102597,Big Studio-One Stop from Midtown,unconfirmed,Christopher,Queens,Long Island City,41,-74,True,strict,Entire home/apt,...,$109,2,5,10/11/2015,0,3,1,386,NaN,NaN
102598,585 sf Luxury Studio,unconfirmed,Rebecca,Manhattan,Upper West Side,41,-74,False,flexible,Entire home/apt,...,$206,1,0,NaN,NaN,3,1,69,NaN,NaN

## Tarea 2b: Limpieza de datos (Python)


- Compueba si hay valores nulos y muestra el recuento en orden ascendente. **Si faltan valores, imputa los valores como consideres.**
- Comprueba si hay valores duplicados y elimínalos.
- Muestra el número total de registros antes y después de eliminar los duplicados.

In [149]:
## Comprueba si hay valores nulos y muestra el recuento en orden ascendente.
datos.isnull().sum().sort_values(ascending=1)

room type                              0
lat                                    8
long                                   8
neighbourhood                         16
neighbourhood group                   29
cancellation_policy                   76
instant_bookable                     105
number of reviews                    183
Construction year                    214
price                                247
NAME                                 250
service fee                          273
host_identity_verified               289
calculated host listings count       319
review rate number                   326
host name                            406
minimum nights                       409
availability 365                     448
reviews per month                  15879
last review                        15893
house_rules                        52131
license                           102597
dtype: int64

In [155]:
## Comprueba si hay valores duplicados y elimínalos.
registrosTotales = len(datos.index)
valoresDuplicados = datos.duplicated().sum()
datos = datos.drop_duplicates()
datos

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,41,-74,False,strict,Private room,...,966,10,9,10/19/2021,0,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,41,-74,False,moderate,Entire home/apt,...,142,30,45,5/21/2022,0,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Elise,Manhattan,Harlem,41,-74,True,flexible,Private room,...,620,3,0,NaN,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,NaN,unconfirmed,Garry,Brooklyn,Clinton Hill,41,-74,True,moderate,Entire home/apt,...,368,30,270,7/5/2019,5,4,1,322,NaN,NaN
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,41,-74,False,moderate,Entire home/apt,...,204,10,9,11/19/2018,0,3,1,289,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,Cozy bright room near Prospect Park,unconfirmed,Mariam,Brooklyn,Flatbush,41,-74,True,moderate,Private room,...,696,7,12,3/27/2019,0,5,1,0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,Private Bedroom with Amazing Rooftop View,verified,Trey,Brooklyn,Bushwick,41,-74,False,flexible,Private room,...,909,1,19,8/31/2017,1,3,2,0,#NAME?,NaN
102055,Pretty Brooklyn One-Bedroom for 2 to 4 people,verified,Michael,Brooklyn,Bedford-Stuyvesant,41,-74,True,moderate,Entire home/apt,...,387,2,50,6/26/2019,3,4,2,235,* Check out: 10am * We made an effort to keep ...,NaN
102056,Room & private bathroom in historic Harlem,unconfirmed,Shireen,Manhattan,Harlem,41,-74,True,strict,Private room,...,848,2,0,NaN,NaN,1,1,0,Each of us is working and/or going to school a...,NaN
102057,Rosalee Stewart,verified,Stanley,Manhattan,Harlem,41,-74,False,flexible,Entire home/apt,...,1128,4,22,6/15/2019,1,4,1,238,Please remember that this is a residential bui...,NaN

In [151]:
## Muestra el número total de registros antes y después de eliminar los duplicados.
registrosTotales
print('Número de regiestros totales antes ' + str(registrosTotales) + ', número de registros después de eliminar duplicados ' + str(len(datos.index)))

Número de regiestros totales antes 102599, número de registros después de eliminar duplicados 99163

## Tarea 3: Transformación de datos (cualquier herramienta)





- Cambia el nombre de la columna `availability 365` a `days_booked`.
- Convierte todos los nombres de columna a minúsculas y sustituye los espacios en los nombres de columna por un guión bajo "_".
- Elimina el signo de dólares y la coma de las columnas `price` y `service_fee`. Si es necesario, convierte estas dos columnas al tipo de datos adecuado.



Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla de tu trabajo.

In [156]:
## Cambia el nombre de la columna.
datos.rename(columns={'availability 365': 'days_booked'})

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,41,-74,False,strict,Private room,...,966,10,9,10/19/2021,0,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,41,-74,False,moderate,Entire home/apt,...,142,30,45,5/21/2022,0,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Elise,Manhattan,Harlem,41,-74,True,flexible,Private room,...,620,3,0,NaN,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,NaN,unconfirmed,Garry,Brooklyn,Clinton Hill,41,-74,True,moderate,Entire home/apt,...,368,30,270,7/5/2019,5,4,1,322,NaN,NaN
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,41,-74,False,moderate,Entire home/apt,...,204,10,9,11/19/2018,0,3,1,289,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,Cozy bright room near Prospect Park,unconfirmed,Mariam,Brooklyn,Flatbush,41,-74,True,moderate,Private room,...,696,7,12,3/27/2019,0,5,1,0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,Private Bedroom with Amazing Rooftop View,verified,Trey,Brooklyn,Bushwick,41,-74,False,flexible,Private room,...,909,1,19,8/31/2017,1,3,2,0,#NAME?,NaN
102055,Pretty Brooklyn One-Bedroom for 2 to 4 people,verified,Michael,Brooklyn,Bedford-Stuyvesant,41,-74,True,moderate,Entire home/apt,...,387,2,50,6/26/2019,3,4,2,235,* Check out: 10am * We made an effort to keep ...,NaN
102056,Room & private bathroom in historic Harlem,unconfirmed,Shireen,Manhattan,Harlem,41,-74,True,strict,Private room,...,848,2,0,NaN,NaN,1,1,0,Each of us is working and/or going to school a...,NaN
102057,Rosalee Stewart,verified,Stanley,Manhattan,Harlem,41,-74,False,flexible,Entire home/apt,...,1128,4,22,6/15/2019,1,4,1,238,Please remember that this is a residential bui...,NaN

In [157]:
## Convierte todos los nombres de columna a minúsculas y sustituye los espacios por un guión bajo "_".
datos.columns = datos.columns.str.lower().str.replace(' ', '_')
datos

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,41,-74,False,strict,Private room,...,966,10,9,10/19/2021,0,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,41,-74,False,moderate,Entire home/apt,...,142,30,45,5/21/2022,0,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Elise,Manhattan,Harlem,41,-74,True,flexible,Private room,...,620,3,0,NaN,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,NaN,unconfirmed,Garry,Brooklyn,Clinton Hill,41,-74,True,moderate,Entire home/apt,...,368,30,270,7/5/2019,5,4,1,322,NaN,NaN
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,41,-74,False,moderate,Entire home/apt,...,204,10,9,11/19/2018,0,3,1,289,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,Cozy bright room near Prospect Park,unconfirmed,Mariam,Brooklyn,Flatbush,41,-74,True,moderate,Private room,...,696,7,12,3/27/2019,0,5,1,0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,Private Bedroom with Amazing Rooftop View,verified,Trey,Brooklyn,Bushwick,41,-74,False,flexible,Private room,...,909,1,19,8/31/2017,1,3,2,0,#NAME?,NaN
102055,Pretty Brooklyn One-Bedroom for 2 to 4 people,verified,Michael,Brooklyn,Bedford-Stuyvesant,41,-74,True,moderate,Entire home/apt,...,387,2,50,6/26/2019,3,4,2,235,* Check out: 10am * We made an effort to keep ...,NaN
102056,Room & private bathroom in historic Harlem,unconfirmed,Shireen,Manhattan,Harlem,41,-74,True,strict,Private room,...,848,2,0,NaN,NaN,1,1,0,Each of us is working and/or going to school a...,NaN
102057,Rosalee Stewart,verified,Stanley,Manhattan,Harlem,41,-74,False,flexible,Entire home/apt,...,1128,4,22,6/15/2019,1,4,1,238,Please remember that this is a residential bui...,NaN

In [159]:
## Elimina el signo de dólares y la coma de las columnas. Si es necesario, convierte estas dos columnas al tipo de datos adecuado.
datos['price'] = datos['price'].str.replace(',', '')
datos['price'] = datos['price'].str.replace('$', '')
datos['service_fee'] = datos['price'].str.replace(',', '')
datos['service_fee'] = datos['service_fee'].str.replace('$', '')
datos['price'] = datos['price'].astype(int)
datos['service_fee'] = datos['service_fee'].astype(int)

C:\Users\mj_95\AppData\Local\Temp\ipykernel_4124\1361255559.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['price'] = datos['price'].str.replace(',', '')
C:\Users\mj_95\AppData\Local\Temp\ipykernel_4124\1361255559.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['price'] = datos['price'].str.replace('$', '')
C:\Users\mj_95\AppData\Local\Temp\ipykernel_4124\1361255559.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['service_fee'] = datos['price'].str.replace(',', '')
C:\Users\mj_95\AppData\Local\Temp\ipykernel_4124\1361255559.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['service_fee'] = datos['service_fee'].str.replace('$', '')

ValueError: cannot convert float NaN to integer

### Tarea 4: Análisis exploratorio de datos (cualquier herramienta)



- Enumera los tipos de habitaciones disponibles en el <i>dataset</i>.
- ¿Qué tipo de habitación tiene la política de cancelación más estricta?
- Enumera el precio medio por barrio y señala cuál es el conjunto de barrios más caro para alquilar.



Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla de tu trabajo.

In [ ]:
## Enumera los tipos de habitaciones disponibles en Airbnb.

In [ ]:
## ¿Qué tipo de habitación se adhiere a una política de cancelación más estricta?

In [ ]:
## Enumera los precios por barrio y menciona también cuál es el grupo de barrios con alquileres más caros.

## Tarea 5a: Visualización de datos (Cualquier herramienta)

* Enumerar los distintos tipos de habitaciones disponibles en Airnb
* Qué tipo de habitación se adhiere a una política de cancelación más estricta.
* Enumere los precios por grupo de barrios y mencione también cuál es el grupo de barrios más caro para los alquileres.
* Enumere los 10 barrios más caros por orden creciente de precio con la ayuda de un gráfico de barras horizontales. ¿Cuál es el barrio más barato?
* Enumere los barrios que ofrecen alquileres a corto plazo de menos de 10 días. Ilustrar con un gráfico de barras
* Enumere los precios con respecto al tipo de habitación utilizando un gráfico de barras y exponga también sus inferencias.
* Cree un gráfico circular que muestre la distribución de los días reservados para cada grupo de barrios.

Si utiliza Python para este ejercicio, por favor incluya el código en las celdas de abajo. Si utiliza cualquier otra herramienta, por favor incluya pantallazos de su trabajo.

## Tarea 5b: Visualización de datos (Cualquier herramienta)

* ¿El precio del servicio y el precio de la habitación tienen un impacto mutuo? Ilustre esta relación con un gráfico de dispersión e indique sus inferencias
* Utilizando un gráfico lineal muestre en qué año tuvo lugar la máxima construcción de habitaciones.

Si utiliza Python para este ejercicio, incluya el código en las celdas siguientes. Si utiliza cualquier otra herramienta, incluya capturas de pantalla de su trabajo.

## Tarea 5c: Visualización de datos (Cualquier herramienta)

* Con la ayuda de gráficos de caja ilustra lo siguiente
 * Efecto del número de tasa de revisión en el precio
 * Efecto de la identidad del host verificada en el precio

Si utiliza Python para este ejercicio, por favor incluya el código en las celdas de abajo. Si utiliza cualquier otra herramienta, por favor incluya capturas de pantalla de su trabajo.